.review-cihuygyttrdtfg{
  margin-right: 16px;
}

.rev-card-jggy{
  margin: 10px 0;
}

.jvyvhsjo-ifjyugfstdygfuys{
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.star-imgjgytyf{
  width: 20px;
  height: 20px;
  margin-left: 5px;
}

.jnnshuygys-jjhuyg{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 10px;
}

.huygsdhfijsidfusdgfygsd > span:first-child{
  margin-right: 10px;
  font-weight: 700;
}