.text-area{
  display: flex;
  flex-direction: column;
}

textarea{
  resize: none;
  border: 1px solid #E8E8E8;
  outline: none;
  padding: 8px 12px;
  border-radius: 5px;
  color: #D7436F;
}

textarea:focus{
  border: 1px solid #D7436F;
}