.jbuyf6frtfojgytftflgyugy{
  color: #4A5568;
  width: 1600px;
}

.blog-img-sdytdf > img{
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.cont-jygfyyatydsygsgdytfda{
  padding-right: 20px;
}

.uyyhoiasdfhuagweg{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.blog-tit-kjsdf{
  font-size: 32px;
  font-weight: 700;
  margin-top: 14px;
}

.cat-gory-jgyygasdf{
  color: #D7436F;
  font-weight: 700;
  font-size: 20px;
}

.blog-cont-fuygyf{
  margin-top: 8px;
}

.gyratingjighyft{
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.hugyftrtfty{
  margin: 0 10px 0 5px;
}

.hugyftrtfty > img {
  width: 20px;
  height: 20px;
}

.border--line-bftyf{
  width: 96%;
  height: 2px;
  background: #ddd;
  margin: 20px 0;
}